* {
    padding: 0px;
    margin: 0px;
    font-family: "Nunito Sans"
}

/* 跟header有關的 */
.header .headerNavbar {
    color: white;
    width: 60%;
    /* height: 30%; */
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    z-index: 2000;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}


.header .headerTopic {
    width: 50%;
    color: white;
    /* width: 60%; */
    /* height: 30%; */
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    z-index: 3000;
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
}

.navbarContent {
    cursor: pointer;
    transition: 0.5s;
}

.navbarContent:hover {
    border: 3px white solid;
    transform: scale(1.1);
}

.header .boxShadow {
    width: 100%;
    height: 450px;
    position: absolute;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.3);
}

.header img {
    height: 450px;
}

.news {
    position: relative;
}


.news .newsBg {
    width: 100%;
    height: 400px;
    z-index: 10;
}


.news .serviceIcons {
    z-index: 1000;
    position: absolute;
    top: 30%;
}

.news .serviceIcons .serviceIcon .iconPicture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: gray;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    color: white;
}

.news .serviceIcons .serviceIcon .iconIntro {
    text-align: center;
    margin-top: 10px;
}

.story {
    width: 100%;
    height: 250px;
}

.story .leftSide {
    height: 250px;
    display: inline-block;
    width: 50%;
}

.story .leftPic {
    width: 100%;
    height: 250px;
}


.story .rightSide {
    width: 50%;
    display: inline-block;
    height: 250px;
}

.story .rightPic {
    height: 125px;
    width: 50%;
}